#display {
  
  height: 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  background: #999;
  color: #fff;
  border-radius: 2px;
  font-family: 'Roboto Mono', monospace;
  font-size:.7rem;
  text-align: left;
  line-height: 20px;
  padding-left: .4rem;
  box-shadow: inset 1px 1px 4px black;
  @media (min-width: 300px) {
    font-size: .8rem;
  }
}

.display-wrapper {
  box-shadow: inset 0px 0px 3px #aaa;
  border-radius: 2px;
  padding: 5px 0px 5px 5px;
  height: 30px;
  margin: 12px auto 0;
  width: calc(100% - 24px);
}