#display {
  margin: 12px 0 0 12px;
  height: calc(25% - 12px);
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50% - 12px);
  background: #444;
  color: #f00;
  border-radius: 1px;
  font-family: 'Codystar', cursive;
  text-align: left;  
}