#drum-machine {
  position: relative;
  width: 100%;
  max-width: 300px;
  background: -moz-linear-gradient(#555 0%, #333 50%, #444 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(#555 0%, #333 50%, #444 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(#555 0%, #333 50%, #444 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  min-width: 200px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px rgba(255,255,255,.5);
}
